<div class="main form-page">
  <div class="xsmall-width">
    <header class="form-page-header">
      <h2>Edit Profile</h2>
    </header>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <div class="label-text"><%= f.label :password, :class => 'inline-label' %> <i>(leave blank if you don't want to change it)</i></div>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <div class="label-text"><%= f.label :current_password, :class => 'inline-label' %> <i>(Needed to confirm your changes)</i></div>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", :class => 'button' %>
      </div>
    <% end %>

    <div class="cancel-account">
      <h3>Cancel my account</h3>
      <p>Unhappy? To cancel your account please click the button below. Warning: all scribes will be deleted.</p>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'button' %>
    </div>

  </div>
</div>