
<div class="main form-page">
  <div class="xsmall-width">

    <header class="form-page-header">
      <h2>Sign up</h2>
      <p>Thamks for your interest! Fill out the form below to joined Scribed!</p>
    </header>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>


      <div class="field">
        <%= f.label :password, "Password (#{@minimum_password_length} characters minimum)" %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class => 'button' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>