<%= form_for @comment, :html => { :multipart => true } do |f| %>
    <%= f.text_area :comment %>
    <%= f.hidden_field :scribe_id, :value => @scribe.id.to_i %>
    <%= f.submit 'Submit', :class => "comment-button", :id => "comment-submit" %>
<% end %>

