

<%= form_for @scribe do |f| %>

  <%= f.hidden_field :video_length %>
  <%= f.hidden_field :video_id %>

  <div class="retrieve-video">
    <div class="width">

      <h2>Enter Video ID or URL</h2>

      <div class="field-wrap">
        <input type="text" class="youtube-url" placeholder="https://www.youtube.com/watch?v=oLOhj4iTsj4">
        <button class="button retrieve" disabled>GO</button>
        <div class="button invalid">Invalid</div>
      </div>
    </div>
  </div>

 <% if @scribe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@scribe.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @scribe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="main create-scribe active">
    <div class="width">


      <div class="create-player-column">
        <div id="player"></div>
        <%= playerInject(@scribe.video_id).html_safe %>
        <%= f.text_field :title %>
        <div class="scribe-description-wrap">
          <%= f.text_area :description, :placeholder => "Scribe Description" %>
          <div class="scribe-description-length">
            <p></p>
          </div>
        </div>
      </div>

      <div class="create-scribes-column">
        <div class="create-scribe-controls">
          <button class="back-15 button"><svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="10px" height="17px" viewBox="0 0 10 17"><path d="M0.4,2.2c-0.5-0.5-0.5-1.3,0-1.8c0.5-0.5,1.3-0.5,1.8,0L10,8.5l-7.9,8.1c-0.5,0.5-1.3,0.5-1.8,0c-0.5-0.5-0.5-1.3,0-1.8l6.1-6.3L0.4,2.2z"/></svg></button>
          <button class="add-scribe button">Add Scribe</button>
          <button class="forward-15 button"><svg xmlns="http://www.w3.org/2000/svg" width="10px" height="17px" viewBox="0 0 10 17"><path d="M0.4,2.2c-0.5-0.5-0.5-1.3,0-1.8c0.5-0.5,1.3-0.5,1.8,0L10,8.5l-7.9,8.1c-0.5,0.5-1.3,0.5-1.8,0c-0.5-0.5-0.5-1.3,0-1.8l6.1-6.3L0.4,2.2z"/></svg></button>
        </div>

        <% @scribe.transcripts.each do |transcript| %>
          <div class="transcript">
            <input class="s transcript-description" type="text" value="<%= transcript[1] %>"/>
            <div class="transcript-time"> 
              <div class="transcript-time-controls">
                <input class="s time" value="<%= secToTime(transcript[0]) %>" type="text" disabled/>
                <button class="time-up">+</button>
                <button class="time-down">-</button> 
              </div>
            </div>
            <button class="remove-scribe"><svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 17 17"><path d="M16.7,15.2L10,8.5l6.7-6.7c0.4-0.4,0.4-1.1,0-1.5c-0.4-0.4-1.1-0.4-1.5,0L8.5,7L1.8,0.3c-0.4-0.4-1.1-0.4-1.5,0c-0.4,0.4-0.4,1.1,0,1.5L7,8.5l-6.7,6.7c-0.4,0.4-0.4,1.1,0,1.5c0.4,0.4,1.1,0.4,1.5,0L8.5,10l6.7,6.7c0.4,0.4,1.1,0.4,1.5,0C17.1,16.3,17.1,15.6,16.7,15.2z"/></svg></button>
            <button class="to-scribe"><svg xmlns="http://www.w3.org/2000/svg" width="10px" height="17px" viewBox="0 0 10 17"><path d="M0.4,2.2c-0.5-0.5-0.5-1.3,0-1.8c0.5-0.5,1.3-0.5,1.8,0L10,8.5l-7.9,8.1c-0.5,0.5-1.3,0.5-1.8,0c-0.5-0.5-0.5-1.3,0-1.8l6.1-6.3L0.4,2.2z"/></svg></button>
            <button class="scribe-up"><svg xmlns="http://www.w3.org/2000/svg" width="17px" height="10px" viewBox="0 0 17 10"><path d="M2.2,9.6c-0.5,0.5-1.3,0.5-1.8,0c-0.5-0.5-0.5-1.3,0-1.8L8.5,0l8.1,7.9c0.5,0.5,0.5,1.3,0,1.8c-0.5,0.5-1.3,0.5-1.8,0L8.5,3.5L2.2,9.6z"/></svg></button>
            <button class="scribe-down"><svg xmlns="http://www.w3.org/2000/svg" width="17px" height="10px" viewBox="0 0 17 10"><path d="M14.8,0.4c0.5-0.5,1.3-0.5,1.8,0c0.5,0.5,0.5,1.3,0,1.8L8.5,10L0.4,2.1c-0.5-0.5-0.5-1.3,0-1.8c0.5-0.5,1.3-0.5,1.8,0l6.3,6.1L14.8,0.4z"/></svg></button>
          </div>
          <% end %>
      </div>




    </div>
  </div>

  <div class="create-scribe-submit active">
    <div class="width">
      <%= f.submit 'Add Atleast 2 Scribes', :class => "button", :id => "create-scribe-submit" %>
        <% if user_signed_in? %>
          <% if current_user.id == @scribe.user_id %>
            <%= link_to 'Destroy', scribe_path(@scribe), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
    </div>
  </div>

<% end %>

  <div class="errors-box inactive">
    <div>
      <h2>Please Fix the following errors</h2>
      <ul class="errors">
      </ul>
    </div>
  </div>



