<header class="index-header">
  <div class="width">
    <h2>Featured Scribes</h2>
    <%= form_tag(scribes_path, :method => "get", :class => "search-wrap") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts", :class => "rounded" %>
    <%= submit_tag "Search", :class => "rounded-right" %>
<% end %>
  </div>
</header>

<div class="main">
<div class="width">
  <div class="scribe-index-page">
    <% @scribes.each do |scribe| %>
      <div class="scribe-index">
        <%= link_to image_tag(scribe.video_image), scribe_path(scribe) %>
        <div class="index-text">
          <h3><%= link_to scribe.title, scribe_path(scribe) %></h3>
          <p><span>Logged by:</span> <%= link_to scribe.user.username, user_show_path(scribe.user) %></p>
        </div>
      </div>
      <div class="row-fix"></div>
    <% end %>
  </div>

    <%= paginate @scribes %>

</div>
</div>



