<%= form_for @scribe do |f| %>

  <%= f.hidden_field :video_length %>
  <%= f.hidden_field :video_id %>

  <div class="retrieve-video">
    <div class="width">

      <h2>Enter Video ID or URL</h2>

      <div class="relative">
        <input type="text" class="youtube-url rounded" placeholder="https://www.youtube.com/watch?v=oLOhj4iTsj4">
        <button class="button retrieve rounded-right" disabled>GO</button>
        <div class="button invalid rounded-right">Invalid</div>

        <div class="loader">
          <svg xmlns="http://www.w3.org/2000/svg" width="80px" height="80px" viewBox="0 0 50 50"><path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z"><animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"/></path></svg>
        </div>

      </div>

    </div>
  </div>

  <div class="main create-scribe">
    <div class="width">


      <div class="create-player-column">
        <div id="player"></div>
        <%= f.text_field :title, :placeholder => "Scribe Title", :class => "rounded" %>
        <div class="scribe-description-wrap">
          <%= f.text_area :description, :placeholder => "Scribe Description", :class => "rounded" %>
          <div class="scribe-description-length">
            <p></p>
          </div>
        </div>
        <a class="use-yt-desc button rounded">Use Youtube Description</a>
      </div>

      <div class="create-scribes-column">
        <div class="create-scribe-controls">
          <button class="back-15 button"><svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" width="10px" height="17px" viewBox="0 0 10 17"><path d="M0.4,2.2c-0.5-0.5-0.5-1.3,0-1.8c0.5-0.5,1.3-0.5,1.8,0L10,8.5l-7.9,8.1c-0.5,0.5-1.3,0.5-1.8,0c-0.5-0.5-0.5-1.3,0-1.8l6.1-6.3L0.4,2.2z"/></svg></button>
          <button class="add-scribe button">Add Scribe</button>
          <button class="forward-15 button"><svg xmlns="http://www.w3.org/2000/svg" width="10px" height="17px" viewBox="0 0 10 17"><path d="M0.4,2.2c-0.5-0.5-0.5-1.3,0-1.8c0.5-0.5,1.3-0.5,1.8,0L10,8.5l-7.9,8.1c-0.5,0.5-1.3,0.5-1.8,0c-0.5-0.5-0.5-1.3,0-1.8l6.1-6.3L0.4,2.2z"/></svg></button>          
          
        </div>
        <div class="scribe-list"></div>
      </div>

    </div>
  </div>

  <div class="create-scribe-submit">
    <div class="width">
      <%= f.submit 'Create Scribe', :class => "button", :id => "create-scribe-submit", :class => "rounded" %>
    </div>
  </div>

<% end %>

  <div class="errors-box inactive">
    <div>
      <h2>Please Fix the following errors</h2>
      <ul class="errors">
      </ul>
    </div>
  </div>
