<div class="main">
  <div class="width">

    <div class="player-scribes">

      <div class="player-column">
        <div id="fitvid">
          <div id="player"></div>
        </div>
      </div>

      <div class="scribes-column">
        <ul>
          <% @scribe.transcripts.each do |transcript| %>
            <li><a onclick="jumpTo(<%= transcript[0] %>)"><span><%= secToTime(transcript[0]) %></span> <%= transcript[1] %></a></li>
          <% end %>
        </ul>
      </div>

    </div>

    <div class="player-column">
        
        <div class="scribe-details">
          <h2><%= @scribe.title %></h2>

          <div class="scribe-user-details">
            <div class="scribe-show-user">
              <p><%= link_to @user.username, user_show_path(@user) %></p>
            </div>

            <div class="scribe-vote">
              <%= link_to vote_scribe_path(@scribe.id, type: "up"), method: "post", :remote => true, :class => "vote-up" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="18px" viewBox="0 0 20 19.6"><rect x="0" y="8.1" width="4.4" height="11.4"/><path d="M19.7,12c-0.2-0.3-0.2-0.5-0.2-0.8c0-0.2,0.1-0.3,0.1-0.5c0.1-0.2,0.2-0.6,0.2-1.2c0.1-0.8-0.6-1.4-1.4-1.4H14c-0.8,0-1.4-0.7-1.4-1.5c0-0.8,1-2.4,1.1-4.2C13.8-0.3,10.9,0,10.9,0l0,0c0,0-0.4,0.2-0.4,0.5v1.8c0,1-0.5,2.1-1.2,3.1C8.7,6.2,7.9,7.3,7.4,7.8c-0.6,0.4-1.2,1-2,1V19c0,0,1.3,0.6,3.2,0.6h7.1c0.1,0,2.7,0.1,2.4-2.1c-0.1-0.7,1.7-1.2,1.3-2.4C18.9,13.7,20.6,13.6,19.7,12z"/></svg>
              <% end %>

              <span><%= pluralize @scribe.reputation_for(:votes).to_i, "" %></span>

              <%= link_to vote_scribe_path(@scribe.id, type: "down"), method: "post", :remote => true, :class => "vote-down" do %>
                <svg xmlns="http://www.w3.org/2000/svg"  width="18px" viewBox="0 0 20 19.6"><rect x="0" y="0.1" width="4.4" height="11.4"/><path d="M19.4,4.6c0.4-1.2-1.4-1.7-1.3-2.4C18.4-0.1,15.8,0,15.7,0H8.6C6.7,0,5.4,0.6,5.4,0.6v10.2c0.8,0,1.4,0.6,2,1c0.6,0.6,1.3,1.6,1.9,2.4c0.7,1,1.2,2.1,1.2,3.1v1.8c0,0.3,0.4,0.5,0.4,0.5l0,0c0,0,2.9,0.3,2.7-2.5c-0.1-1.8-1.1-3.5-1.1-4.2c0-0.8,0.6-1.5,1.4-1.5h4.6c0.8,0,1.5-0.6,1.4-1.4c0-0.6-0.2-1-0.2-1.2c0-0.1-0.1-0.3-0.1-0.5c0-0.2,0-0.5,0.2-0.8C20.6,6,18.9,6,19.4,4.6z"/></svg>
              <% end %>
            </div>
          </div>

          <p><%= @scribe.description.html_safe %></p>

        </div>


        <div class="comments">
          <% if user_signed_in? %>
            <h3>Leave a comment</h3>
            <%= render 'comments/comment' %>
          <% else %>
            <h3>Login to comment</h3>
            <p>Please login to your scribed.io account in order to join the discussion</p>
            <div class="comment-buttons">
              <%= link_to 'Login', new_user_session_path, :class => "comment-button" %>
              <%= link_to 'Signup', new_user_registration_path, :class => "comment-button" %>
            </div>
          <% end %>
        </div>

        <% @comments.each do |c| %>
          <div class="scomment">
            <div class="av-left">
              <%= image_tag avatar_url(c.user) %>
            </div>
            <div class="comment-text">
              <h4><%= c.user.username.capitalize %></h4>
              <p><%= c.comment %></p>
            </div>
          </div>      
        <% end %> 

    </div>

      <div class="related-column">
        <% @random.each do |random| %>
          <div class="random-video">
            <%= link_to image_tag(random.video_image) %>
            <h3><%= link_to random.title[0..30] + "..." %></h3>
          </div>
        <% end %>
      </div>




    </div>



  </div>
</div>


<%= playerInject(@scribe.video_id).html_safe %>




