<header class="profile-page-header">
  <div class="width">
    <div class="profile-avatar">
      <%= image_tag avatar_url(@user) %>
    </div>
    <div class="profile-header-text">
      <h2><%= @user.username %></h2>
    </div>
    <% unless !user_signed_in? %>
      <% if current_user.id == @user.id || current_user.admin %>
        <%= link_to 'Edit Profile', edit_user_registration_path(@user), :class => 'edit-profile-button button' %>
      <% end %>
    <% end %>
  </div>
</header>

<div class="main">
  <div class="width">
    <div class="scribe-index-page cf">
      <% @scribes.each do |scribe| %>
        <div class="scribe-index">
          <%= link_to image_tag(scribe.video_image), scribe_path(scribe) %>
          <div class="index-text">
            <h3><%= link_to scribe.title, scribe_path(scribe) %></h3>
            <p><span>Logged by:</span> <%= link_to scribe.user.username, user_show_path(scribe.user) %></p>
          </div>
        </div>
        <div class="row-fix"></div>
      <% end %>
    </div>

    <%= paginate @scribes %>

  </div>
</div>

