<header class="profile-page-header">
  <div class="width">
    <div class="profile-avatar">
      <%= image_tag avatar_url(@user) %>
    </div>
    <div class="profile-header-text">
      <h2><%= @user.username %></h2>
    </div>
    <% unless !user_signed_in? %>
      <% if current_user.id == @user.id || current_user.admin %>
        <%= link_to 'Edit Profile', edit_user_registration_path(@user), :class => 'edit-profile-button button' %>
      <% end %>
    <% end %>
  </div>
</header>

<div class="main">
  <div class="width cf">

  <div class="profile-left">
  <h3>Bio</h3>
  <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
  </div>

  <div class="profile-right">
    <div class="cf">
      <% @user.scribes.last(6).each do |scribe| %>
        <div class="scribe-index2">
          <%= link_to image_tag(scribe.video_image), scribe_path(scribe) %>
          <h3><%= link_to scribe.title, scribe_path(scribe) %></h3>
          <% if current_user.id == @user.id || current_user.admin %>
            <%= link_to 'Edit', edit_scribe_path(scribe) %>
          <% end %>
        </div>
        <div class="row-fix2"></div>
      <% end %>
    </div>
      <%= link_to 'More', user_logs_path(@user), :class => "button rounded" %>
  </div>




  </div>
</div>