<div class="main">
  <div class="width">
    <ul>
      <% @scribes.each do |scribe| %>
        <li><p><strong><%= scribe.title %></strong> <%= link_to 'Edit', edit_scribe_path(scribe) %> <%= link_to 'Destroy', scribe_path(scribe), method: :delete, data: { confirm: 'Are you sure?' } %></p></li>
      <% end %>
    </ul>
  </div>
</div>