<div class="home-billboard">
  <img class="blur-image" src="https://download.unsplash.com/reserve/RONyPwknRQOO3ag4xf3R_Kinsey.jpg" />
    <div class="home-billboard-text">
      <h1>Transcribe &amp; Share</h1>
      <p>Scribed.io is a free tool for publishers to easily transcribe and share their youtube content</p>
      <div class="home-buttons">
        <%= link_to "Discover", scribes_path, :class => "home-button home-discover" %>
        <%= link_to "Create", "/create", :class => "home-button home-create" %>
      </div>
    </div>
</div>
