<div class="main form-page">
  <div class="xsmall-width">
    <header class="form-page-header">
      <h2>Log in</h2>
      <p>To login to your Scribed.io account please fill out the form below.</p>
    </header>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, :class => "inline-label" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", :class => 'button' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>

