.comment-button {
  display: inline-block;
  width: em(100);
  text-align: center;
  background: #3c69dd;
  height: em(35);
  line-height: em(32);
  margin: 0 em(3);
  color: white;
  border-radius: 3px;
}

.comment-buttons {
  text-align: center;
  margin-top: em(15);
}



#comment_comment {
  width: 100%;
  display: block;
  height: em(150);
  background: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-top: 10px;
}

.scomment {
  border-radius: 3px;
  margin-top: 5px;
  padding: 1.5em;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

#comment-submit {
  display: block;
  margin: 0;
  width: 100%;
  height: 40px;
  line-height: 37px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #3C69DD;

}

.comment-text {
  padding-left: 80px;
}