.master-footer {
  background: #333;
}

.footer-top {
  overflow: hidden;
  padding: 2.5em 0;
  h3 {
    color: white;
  }
  li {
    a {
      color: rgba(255,255,255,.3);
      font-weight: 400;
    }
  }
}

.footer-bottom {
  padding: 1.5em 0;
  border-top: 1px solid rgba(255,255,255,.1);
}

.footer-box {
  float: left;
  width: 20%;
  padding-right: 2.5em;
}

.footer-box.long {
  width: 60%;
}

