/* ///////////////////////////// */
/* Global Defaults */
/* ///////////////////////////// */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Oxygen', arial, sans-serif;
  color: #555;
  line-height: 1.7;
  background: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', arial, sans-serif;
  font-weight: 700;
  color: #333;
  line-height: 1.2;
}

h2 {
  font-size: em(28);
}

h3 {
  font-size: 1.4em;
  margin-bottom: .35em;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #3C69DD;
}

input[type=submit] {
  font-weight: 700;
}

li {
  list-style: none;
}

.rounded {
  border-radius: 3px;
}

.rounded-right {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.rounded-left {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rounded-top {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.rounded-bottom {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.main {
  background-image: url('/images/main-bg.svg');
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 2.5em;
}

/* ///////////////////////////// */
/* Global Classes */
/* ///////////////////////////// */
.width {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.relative {
  position: relative;
}

.xsmall-width {
  max-width: 420px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}


/* ///////////////////////////// */
/* Global Buttons */
/* ///////////////////////////// */
.button {
  height: 45px;
  padding: 0 20px;
  line-height: 45px;
  text-align: center;
  border: none;
  font-size: 1em;
}

.field {
  input[type=text], input[type=email], input[type=password] {
    width: 100%;
    border: 1px solid #e5e5e5;
    line-height: 46px;
    height: 46px;
    padding: 0.5em;
  }
}

.field+.field {
  margin-top: 1em;
}

.actions {
  margin-top: 1em;
  button, input {
    background: #ffae00;
    color: white;
    font-weight: 700;
    width: 100%;
  }
}

.inline-label {
  display: inline-block;
  padding: 0;
  line-height: 1;
}

.form-page-header {
  text-align: center;
  margin-bottom: 1.5em;
  h2 {
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
  }
}

.form-links {
  margin-top: 1em;
  a {
    font-size: 13px;
    display: block;
    color: #999;
    &:hover {
      color: #666;
    }
  }
}

.cancel-account {
  background: #e5e5e5;
  padding: 1.5em;
  margin-top: 1.5em;
  input {
    margin-top: 1em;
    background: #ea321e;
    color: white;
    font-weight: 700;
    width: 100%;

  }
}







