.master-header {
  background: #121212;
}

.master-nav {
  float: right;
  li {
    float: left;
    line-height: em(30);
    border-left: 1px solid #333;
    &:last-child {
      border-right: 1px solid #333;
    }
    a {
      padding: em(15) em(20);
      display: block;
      width: 100%;
      height: 100%;
      color: white;
    }
  }
}

.header-logo {
  width: em(100);
  float: left;
  margin-top: em(12);
  a {
    color: white;
  }
}

.header-avatar {
  border-radius: 3px;
  width: em(30);
  float: left;
}

.user-header {
  position: relative;
  padding: em(15) em(20);
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  &:hover .user-dropdown {
    z-index: 2;
    opacity: 1;
  }
}

.down-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: em(6) em(5) 0 em(5);
  border-color: #ffffff transparent transparent transparent;
  float: left;
  margin-left: em(10);
  margin-top: em(12);
}

.user-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #222;
  z-index: -1;
  margin-top: em(-5);
  opacity: 0;
  transition: opacity .2s;
  width: em(150);
  border-radius: 3px;
  border: 1px solid #333;
  li {
    display: block;
    width: 100%;
  }
  li a {
    display: block;
    text-align: left;
    padding: em(5) em(10);
    width: 100%;
    &:hover {
      background: rgba(255,255,255,.1);
    }
  }
}