.home-billboard {
  height: calc(100vh - 3.75em);
  position: relative;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.blur-image {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  -webkit-filter: blur(4px); 
  filter: blur(4px);
  min-width: 103%;
  min-height: 103%;
}

.home-billboard-text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  width: 100%;
  max-width: em(700);
  padding: 0 em(20);
  text-align: center;
  h1 {
    color: white;
    font-size: em(45);
    margin-bottom: em(10, 45);
  }
  p {
    color: rgba(255,255,255,0.7);
    font-size: em(22);
  }
}

.home-buttons {
  overflow: hidden;
  margin: em(30) auto 0 auto;
}

.home-button {
  display: inline-block;
  width: em(200);
  background-color: #3C69DD;
  height: em(40);
  line-height: em(37);
  color: white;
  margin: 0 em(5);
  border-radius: 3px;
}

