.index-header {
  background-color: #3C69DD;
  background-image: url('/images/background.svg');
  padding: 1.5em 0;
  text-align: center;
  overflow: hidden;
  h2 {
    color: white;
    float: left;
    line-height: em(46, 28);
  }
}

.search-wrap {
  position: relative;
  input[type=text] {
    float: right;
    height: em(46);
    background: white;
    width: em(500);
    padding: 0 em(10);
  }
  input[type=submit] {
    position: absolute;
    height: em(46);
    width: em(85);
    background: orange;
    color: white;
    top: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}