.main {
  padding: 2.5em 0;
  overflow: hidden;
}

.player-scribes {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.player-column {
  width: 70%;
  float: left;
  padding-right: 15px;
  #player {
    margin-bottom: -7px;
  }
}

.profile-left {
  width: 338px;
  float: left;
}

.profile-right {
  width: 100%;
  padding-left: 370px;
}

.create-player-column {
  width: 338px;
  float: left;
  opacity: 0;
  display: none;
  transition: opacity .2s;
}

.create-player-column.active {
  display: block;
  opacity: 1;
}

#fitvid {
  width: 100%;
}

.create-scribes-column {
  width: 100%;
  padding-left: 358px;
  opacity: 0;
  display: none;
  transition: opacity .2s;
}

.create-scribes-column.active {
  opacity: 1;
  display: block;
}

.related-column {
  float: right;
  width: 30%;
  img {
    border-radius: 3px;
  }
  h3 {
    font-size: 18px;
  }
}
