.pagination {
  display: block;
  text-align: center;
  margin-bottom: 2.5em;
  ul,li {
    display: inline-block;
    font-size: 0;
  }
  ul {
    background: #eee;
    border-radius: 3px;
  }
  li + li, .current {
    border-left: 1px solid #e5e5e5;
  }
  li:first-child {
    border: 0;
  }
  li:last-child a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

  }
  a, .current {
    padding: .5em 1em;
    font-size: 16px;
  }
  .current {
    color: #ccc;
  }
  a {
    display: block;
    color: #3C69DD;
    &:hover {
      background: #e5e5e5;
    }
  }
}