.profile-page-header {
  background-color: #3C69DD;
  background-image: url('/images/background.svg');
  padding: 1.5em 0;
  overflow: hidden;
  h2 {
    color: white;
    line-height: 80px;
  }
}

.profile-avatar {
  width: 80px;
  float: left;
  border: 5px solid white;
}

.profile-avatar, .profile-avatar img {
  border-radius: 50%;
}

.profile-header-text {
  float: left;
  padding-left: 1.5em;
}

.edit-profile-button {
  background: orange;
  height: 40px;
  float: right;
  line-height: 40px;
  color: white;
  display: block;
  width: 150px;
  margin: 20px 0;
}