input[type=text], input[type=password], input[type=email], input[type=submit], textarea, button {
  border: none;
  outline: none;
  font-size: 1em;
  -webkit-appearance: none;
}

fieldset {
  border: none;
}

button:hover, input[type=submit]:hover {
  cursor: pointer;
}

label {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}