.retrieve-video {
  background-color: #3C69DD;
  background-image: url('/images/background.svg');
  padding: 2.5em 0;
  h2 {
    text-align: center;
    margin-bottom: 0.5em;
    color: white;
  }
}

.loader {
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: -150px;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: .1s;
  z-index: -2;
}

.loader.active {
  opacity: .4;
  z-index: 2
}

.retrieve-error {
  background: #e1564f;
  color: white;
  display: block;
  width: 300px;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  padding: 0 1em;
  text-align: center;
}

.youtube-url {
  width: 100%;
  height: em(50);
  border: none;
  padding: 0 em(75) 0 em(10);
  background: white;
}

.invalid {
  position: absolute;
  background: #e1564f;
  color: white;
  width: em(85);
  line-height: em(50);
  height: em(50);
  top: 0;
  right: 0;
  opacity: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.retrieve {
  background: #f3b91b;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  width: em(85);
  opacity: 0;
  line-height: em(50);
  height: em(50);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


