.scribe-vote {
  float: right;
  span {
    padding: 0 0.5em;
  }
}

.vote-up, .vote-down {
  svg {
    opacity: .4;
    &:hover {
      opacity: .7;
    }
  }
}

.scribe-user-details {
  margin-top: 10px;
}
