.create-scribe-controls {
  margin-bottom: 5px;
  overflow: hidden;
}

.add-scribe {
  background: #e6e6e6;
  color: #3C69DD;
  width: 80%;
  display: block;
  float: left;
  font-weight: 700;
  line-height: 42px;
  &:hover {
    background: #e5e5e5;
  }
}

.back-15 {
  width: 10%;
  background: #Eee;
  display: block;
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: relative;
  svg {
    fill: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -9px;
  }

}

.forward-15 {
  width: 10%;
  background: #Eee;
  display: block;
  float: left;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
  svg {
    fill: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -9px;
  }
}