.create-scribe {
  min-height: 300px;
  transition: opacity .2s;
}

.create-scribe.active {
  opacity: 1;
  position: relative;
  z-index: 1;
}

#create-scribe-submit {
  width: 100%;
  display: block;
  height: 45px;
  line-height: 42px;
  color: #d3d3d3;
  background: #e5e5e5;
}

#create-scribe-submit.active {
  background: #3C69DD;
  color: white;
}


.create-scribe-submit {
  background: #eee;
  padding: 2.5em 0;
  opacity: 0;
  position: absolute;
  z-index: -3;
  transition: opacity .2s;
}



.create-scribe-submit.active {
  opacity: 1;
  position: relative;
  width: 100%;
  z-index: 1;
}