

.use-yt-desc {
  height: 40px;
  line-height: 37px;
  background: #eee;
  display: inline-block;
  margin-top: 5px;
}

.scribe-vote {
  float: right;
}

.scribe-index-page {
  overflow: hidden;
}

#player {
  width: 100%;
}

.scribe-show-user {
  float: left;
}

.scribe-description-wrap {
  position: relative;
}

.scribe-description-length {
  position: absolute;
  width: 45px;
  text-align: center;
  height: 30px;
  background: #ccc;
  color: white;
  bottom: 0;
  right: 0;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.scribe-description-length.yellow {
  background: #e3a80a;
}

.scribe-description-length.red {
  background: #e3380a;

}

#scribe_description {
  background: #eee;
  border-radius: 3px;
  padding: 0.5em;
  display: block;
}

#scribe_title {
  background: #eee;
  border-radius: 3px;
  padding: 0.5em;
}

#scribe-submit {
  width: 100%;
  background: green;
}

.scribe-details {
  background: #eee;
  padding: 1em;
  border-radius: 3px;
}

.scribe-show-desc {
  background: #eee;
  padding: 1em;
  margin-top: 15px;
}
.scribe-index, .scribe-index2 {
  float: left;
  width: 33.333333%;
  padding-bottom: 20px;
  img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  a {
    font-weight: 700;
    color: black;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
    margin-top: -5px;
    a {
        color: #3c69dd;

    }
  }
}

.scribe-index:nth-of-type(3n+1) {
  padding-right: 10px;
}

.scribe-index:nth-of-type(3n+3) {
  padding-right: 5px;
  padding-left: 5px;
}

.scribe-index:nth-of-type(3n+2) {
  padding-left: 10px;
}

.scribe-index2 {
  width: 50%;
}

.row-fix:nth-of-type(3n+3) {
  clear: both;
}


.scribe-user-details {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.errors-box {
  position: fixed;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  div {
    background: white;
    width: 300px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    margin-left: -150px;
    padding: 2em;
  }
}

.errors-box.active {
  z-index: 10;
}

.errors-box.inactive {
  z-index: -2;
  display: none;
}




.comments {
  background: #eee;
  border-radius: 3px;
  padding: 1.5em;
  margin-top: 15px;
  text-align: center;
  h3 {
    font-size: 24px;
  }
}


.av-left {
  width: 60px;
  border: 5px solid #eee;
  float: left;
  border-radius: 50%;
  position: relative;
  &:after {
    position: absolute;
    z-index: -1;
    content: "";
    transform: rotate(-50deg);
    bottom: -5px;
    right: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 7.5px 0 7.5px;
    border-color: #eee transparent transparent transparent;
  }

  img {
    border-radius: 50%;
  }
}

.random-video {
  margin-bottom: 20px;
}




