
.scribes-column {
  float: right;
  width: 30%;
  border-radius: 3px;
  height: 100%;
  background: #eee;
  position: absolute;
  right: 0;
  overflow-y: auto;

  li {
    background: #eee;
    list-style: none;
    display: block;
    a {
      display: block;
    padding: .5em;

    }
    &:nth-child(even) {
      background: #e5e5e5;
    }
    span {
      color: #3c69dd;
      font-weight: 700;
    }
  }
}