.transcript {
  width: 100%;
  position: relative;
}

.transcript+.transcript {
  margin-top: 5px;
}

.transcript-description {
  width: 100%;
  background: #e5e5e5;
  padding-left: 108px;
  padding-right: 100px;
  line-height: 46px;
  border-radius: 3px;
  border: 1px solid #ccc!important;

}

.transcript-time {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 100px;
}

.scribe-up, .scribe-down, .to-scribe, .remove-scribe {
  position: relative;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    fill: white;
    transform: translate(-50%, -50%);
  }
}


.transcript-time-controls {
  position: relative;
}

.time {
  width: 100%;
  background: #e5e5e5;
  color: #ccc;
  text-align: center;
  padding-right: 20px;
  line-height: 46px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.time-up {
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  background: #e5e5e5;
  width: 20px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  color: #ccc;

}

.time-down {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #e5e5e5;
  width: 20px;
  height: 50%;
  border: 1px solid #ccc;
  border-bottom: 0;
  color: #ccc;

}

.remove-scribe {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 46px;
  width: 46px;
  background: #e5e5e5;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 1px solid #ccc;

}

.to-scribe {
  position: absolute;
  top: 1px;
  right: 47px;
  height: 46px;
  width: 46px;
  background: #e5e5e5;
  border-left: 1px solid #ccc;
}

.scribe-up {
  position: absolute;
  right: 139px;
  top: 1px;
  height: 46px;
  width: 46px;
  z-index: 2;
  background: #e5e5e5;
  border-left: 1px solid #ccc;
}

.scribe-down {
  position: absolute;
  right: 93px;
  top: 1px;
  height: 46px;
  width: 46px;
  background: #EFBCAB;
  z-index: 2;
  background: #e5e5e5;
  border-left: 1px solid #ccc;
}