.video-details {
  background: #ccc;
  width: 100%;
  word-break: break-word;
  overflow: hidden;
}

#scribe_title {
  width: 100%;
  height: 45px;
}

#scribe_description {
  width: 100%;
  margin-top: 5px;
  height: 200px;
}

.video-details.active {
  padding: 2.5em 0;
  .video-image {
    height: 166px;
  }
}

  .video-image {
    width: 300px;
    overflow: hidden;
    float: left;
    img {
      width: 300px;
      margin-top: -30px;
    }
  }

.video-details-right {
  padding-left: 325px;
  width: 100%;
}