<footer class="master-footer">
  <div class="width">

    <div class="footer-top">

      <div class="footer-box">
        <h3>Navigate</h3>
        <ul class="footer-nav">
          <li><%= link_to 'Home', scribes_path %></li>
          <li><%= link_to 'Create', new_scribe_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Profile', user_show_path(current_user) %></li>
            <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Login', new_user_session_path %></li>
          <% end %>

        </ul>
      </div>

      <div class="footer-box">
        <h3>Social</h3>
        <ul class="footer-nav">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
        </ul>
      </div>

      <div class="footer-box long">
        <h3>Random Logs</h3>
        <ul class="footer-nav">
        <% random_logs.each do |randomz| %> 
          <li><%= link_to randomz.title, scribe_path(randomz) %></li>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy;2015 ytlogs.com</p>
    </div>
  </div>
</footer>