<header class="master-header cf">
  <div class="width">

    <%= link_to root_path, :class => "header-logo" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.5 27.9"><path fill="#E52D27" d="M26.1,26.7c-6.4,0.6-12.8,0.6-19.2,0c-3.3-0.4-6-3.5-6-6.8c0-4,0-8,0-12c0-3.2,2.7-6.4,6-6.8c6.4-0.6,12.8-0.6,19.2,0c3.3,0.4,6,3.5,6,6.8c0,4,0,8,0,12C32,23.2,29.4,26.4,26.1,26.7z"/><path fill="#FFFFFF" d="M13.2,16.2v5.2H10v-5.2L6.3,6.9h3.5l1.7,6h0l1.8-6h3.5L13.2,16.2z"/><path fill="#FFFFFF" d="M23.7,9.7v11.7h-3.2V9.7h-2.7V6.9h8.6v2.8H23.7z"/><path fill="#FFFFFF" d="M36.8,21.1V6.2h3.4v11.8h4v3.1H36.8z"/><path fill="#FFFFFF" d="M55.9,13.6c0,1.2-0.1,2.3-0.4,3.2s-0.6,1.8-1.1,2.5c-0.5,0.7-1.1,1.2-1.8,1.6c-0.7,0.4-1.5,0.6-2.4,0.6c-0.9,0-1.7-0.2-2.4-0.6S46.5,20,46,19.3c-0.5-0.7-0.9-1.5-1.1-2.5s-0.4-2-0.4-3.2c0-1.2,0.1-2.2,0.4-3.2c0.3-1,0.6-1.8,1.1-2.5c0.5-0.7,1.1-1.2,1.8-1.6c0.7-0.4,1.5-0.6,2.4-0.6c0.9,0,1.7,0.2,2.4,0.6c0.7,0.4,1.3,0.9,1.8,1.6c0.5,0.7,0.9,1.5,1.1,2.5C55.7,11.3,55.9,12.4,55.9,13.6z M52.4,13.6c0-0.6,0-1.2-0.1-1.8c-0.1-0.6-0.2-1-0.4-1.4c-0.2-0.4-0.4-0.7-0.7-1c-0.3-0.2-0.6-0.3-1-0.3c-0.4,0-0.7,0.1-1,0.3c-0.3,0.2-0.5,0.5-0.7,1c-0.2,0.4-0.3,0.9-0.4,1.4c-0.1,0.6-0.1,1.2-0.1,1.8c0,0.6,0,1.2,0.1,1.8c0.1,0.6,0.2,1,0.4,1.4c0.2,0.4,0.4,0.7,0.7,1c0.3,0.2,0.6,0.4,1,0.4c0.4,0,0.7-0.1,1-0.4c0.3-0.2,0.5-0.6,0.7-1c0.2-0.4,0.3-0.9,0.4-1.4S52.4,14.2,52.4,13.6z"/><path fill="#FFFFFF" d="M65.6,21.1c-0.7,0.2-1.5,0.3-2.4,0.3c-0.9,0-1.8-0.2-2.5-0.6s-1.4-0.9-1.9-1.6s-0.9-1.5-1.2-2.4c-0.3-1-0.4-2-0.4-3.2c0-1.2,0.1-2.2,0.4-3.2c0.3-1,0.7-1.8,1.2-2.5c0.5-0.7,1.1-1.2,1.8-1.6C61.4,6,62.2,5.8,63,5.8c1,0,1.9,0.2,2.5,0.5c0.7,0.3,1.2,0.8,1.6,1.3l-1.8,2.5C64.8,9.4,64.1,9,63.3,9c-0.5,0-0.9,0.1-1.2,0.4c-0.3,0.2-0.6,0.6-0.8,1s-0.4,0.9-0.5,1.5c-0.1,0.6-0.2,1.2-0.2,1.8s0,1.2,0.1,1.8s0.3,1,0.5,1.5c0.2,0.4,0.5,0.8,0.8,1c0.3,0.3,0.7,0.4,1.2,0.4c0.5,0,0.9-0.1,1.2-0.3v-2.8h-1.6v-2.9h4.5v7.9C66.9,20.5,66.3,20.8,65.6,21.1z"/><path fill="#FFFFFF" d="M75.8,9.7c-0.3-0.3-0.5-0.5-0.9-0.7c-0.3-0.2-0.7-0.2-1.1-0.2c-0.4,0-0.7,0.1-1,0.4c-0.3,0.2-0.5,0.6-0.5,1.2c0,0.5,0.2,0.8,0.5,1.1c0.3,0.3,0.8,0.5,1.4,0.9c0.3,0.2,0.7,0.4,1.1,0.6c0.4,0.2,0.7,0.5,1,0.9s0.6,0.7,0.8,1.2c0.2,0.5,0.3,1,0.3,1.7c0,0.8-0.1,1.5-0.4,2.1c-0.3,0.6-0.6,1.1-1,1.5c-0.4,0.4-0.9,0.7-1.5,0.9c-0.6,0.2-1.1,0.3-1.7,0.3c-0.9,0-1.7-0.2-2.4-0.5c-0.7-0.3-1.3-0.7-1.8-1.2l1.7-2.5c0.3,0.3,0.7,0.6,1.1,0.8c0.4,0.2,0.8,0.3,1.3,0.3c0.4,0,0.7-0.1,1-0.4c0.3-0.3,0.4-0.6,0.4-1.1c0-0.5-0.2-0.9-0.5-1.2c-0.3-0.3-0.8-0.6-1.5-0.9c-0.4-0.2-0.8-0.4-1.1-0.7c-0.4-0.2-0.7-0.5-0.9-0.9s-0.5-0.7-0.6-1.2c-0.2-0.4-0.2-1-0.2-1.6c0-0.8,0.1-1.5,0.4-2.1s0.6-1.1,1.1-1.5c0.4-0.4,0.9-0.7,1.5-0.8c0.5-0.2,1.1-0.3,1.6-0.3c0.8,0,1.5,0.1,2.2,0.4c0.6,0.3,1.2,0.6,1.6,1.1L75.8,9.7z"/></svg>
    <% end %>

    <ul class="master-nav">
      <li class="new-scribe"><%= link_to 'New Scribe', new_scribe_path %></li>
      
      <% if user_signed_in? %>
        <li class="user-header cf">
          
          <%= image_tag avatar_url(current_user), :class => 'header-avatar' %>
          <div class="down-triangle"></div>

          <ul class="user-dropdown">
            <li><%= link_to 'New Scribe', new_scribe_path %></li>
            <li><a href="<%= current_user.url %>">Profile</a></li>
            <li><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
          </ul>

        </li>
        
      <% else %>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</header>